// import base file
@import "assets/scss/base/index";

// import vendor file
@import "assets/scss/vendor/index";

//Bootstrap Icons
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

@import '~@angular/cdk/overlay-prebuilt.css';


*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.panelClass {
  background-color: #ffffff;
  // margin: 0 auto;
  width: 50%;
}

.backdropClass {
  background-color: rgba(0, 0, 0, 0.5);
}